<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint-List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModalNew()"></button>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                    Modal body..
                </div>
    
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="#myModal" (click)="closeModalNew()">Close</button>
                </div>
    
            </div>
        </div>
    </div>

    <!-- =============== Navigation ================ -->
 <div class="container_new">
    <div [ngClass]="status ? 'active' : ''" class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon">
                      <i><img src="../../../assets/civilin_logo.png" style="height: 30px; width: 30px; position: relative; top: -8px"></i>
                    </span>
                    <span class="title">CivilIn-Dashboard</span>
                </a>
            </li>
            <!-- <li>
                <a href="#">
                    <span class="icon">
                      <i class="fa fa-home" aria-hidden="true"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li> -->
            <li>
                <a href="complaintsNew">
                    <span class="icon">
                        <i><img src="..//..//../assets/complain.png" style="height: 35px; width: 35px; position: relative; left: 5px; bottom: 5px;"></i>
                    </span>
                    <span class="title">Complaints</span>
                </a>
            </li>
            <li>
                <a href="assistanceNew">
                    <span class="icon">
                        <i><img src="..//..//../assets/call-center.png" style="height: 35px; width: 35px; position: relative; bottom: 5px;"></i>
                    </span>
                    <span class="title">Assistances</span>
                </a>
            </li>
            <li>
                <a href="GRPS">
                    <span class="icon">
                        <i><img src="..//..//../assets/list.png" style="height: 35px; width: 30px; position: relative; bottom: 5px;"></i>
                    </span>
                    <span class="title">GRPS List</span>
                </a>
            </li>
            <!-- <li>
                <a href="#">
                    <span class="icon">
                      <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                    <span class="title">All Users</span>
                </a>
            </li> -->
            <li>
                <a href="morning-report">
                    <span class="icon">
                        <i><img src="..//..//../assets/report.png" style="height: 35px; width: 35px; position: relative; bottom: 5px;"></i>
                    </span>
                    <span class="title">Morning Report</span>
                </a>
            </li>
            <li>
                <a href="logout">
                    <span class="icon">
                        <i><img src="..//..//../assets/log-out.png" style="height: 35px; width: 35px; position: relative; bottom: 5px;"></i>
                    </span>
                    <span class="title">Sign Out</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- ========================= Main ==================== -->
    <div [ngClass]="status ? 'active' : ''" class="main">
        <div class="topbar">
            <div class="toggle" (click)="addToggle()">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div class="user">
                <img src="assets/user.png" alt="">
            </div>
        </div>
        <!-- ======================= Assistance Count Cards ================== -->
        <div class="cardBox">
            <div class="card">
                <h4>Total Assistance</h4>
                <div class="complaint_summary">
                    <div>
                        <div class="numbers">{{Assistance_count_all}}</div>
                        <div class="cardName">Assistance</div>
                    </div>
                    <!-- <div class="complaint_summary_counts">
                        <p style="color: rgb(90, 90, 12);">In Progress : {{Assistance_count_progress}}</p>
                        <p style="color: orange;">Pending : {{Assistance_count_pending}}</p>
                        <p style="color: green;">Completed : {{Assistance_count_completed}}</p>
                    </div> -->
                    <div class="complaint_summary_counts">
                        <p style="color: rgb(90, 90, 12);">
                            <img src="../../../assets/In Progress.png" style="height: 20px; width: 20px;"> : {{Assistance_count_progress}}
                        </p>
                        <p style="color: orange;">
                            <img src="../../../assets/Pending.png" style="height: 20px; width: 20px;"> : {{Assistance_count_pending}}
                        </p>
                        <p style="color: green;">
                            <img src="../../../assets/Completed.png" style="height: 20px; width: 20px;"> : {{Assistance_count_completed}}
                        </p>
                    </div>
                </div>
                <div class="complaint_summary_counts_by_percent">
                    <p>15% Increased than previous month.</p>
                </div>
            </div>
            <div class="card">
                <h4>Daily Assistance</h4>
                <div class="complaint_summary" style="height: 80px; top: -20px; position: relative;">
                    <div>
                        <div class="numbers">{{Assistance_count_daily}}</div>
                        <div class="cardName">Today Assistances received</div>
                    </div>
                </div>
                <div class="complaint_summary_counts_by_percent" style="top: -25px; position: relative;">
                    <p>15% Increased than previous day.</p>
                </div>
            </div>
        </div>
        <div class="search_and_filter">
            <div class="search">
                <label>
                    <input type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                    placeholder="Start searching...">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </label>
            </div>
            <!-- <div>
                <select class="dropdown_order_by_select_com">
                    <option>Id</option>
                    <option>Timestamp</option>
                </select>
            </div> -->
            <div>
                <select class="dropdown_select_com" [(ngModel)]="selectedHead" (change)="valueSelected()">
                    <option>All</option>
                    <option>Pending</option>
                    <option>Assigned</option>
                    <option>In Progress</option>
                    <option>Completed</option>
                </select>
            </div>
        </div>
        <!-- ================ Assistance List Table ================= -->
        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>ASSISTANCE</h2>
                    <a href="#" class="btn">Export to Excel</a>
                </div>
                <!-- If user is HQ control room -->
                <table *ngIf="currentUser==='grphq.control.room@gmail.com'">
                    <thead>
                        <tr>
                            <td style="text-align: center;">Assistance Id</td>
                            <td style="text-align: center;">User Details</td>
                            <td style="text-align: center;">Assistance Type</td>
                            <td style="text-align: center;">Station</td>
                            <td style="text-align: center;">Timestamp</td>
                            <td style="text-align: center;">Status</td>
                            <td style="text-align: center;">Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let assistance of selectedAssistance | ngxSearchPipe:searchText | orderBy: key: reverse | paginate : {itemsPerPage:15,currentPage:p};">
                            <td style="text-align: center; width: 15%; cursor: pointer;" (click)="openModalNew()">{{ assistance.assUnId }}</td>
                            <td style="text-align: center; width: 14%; margin-left: 30%;">{{ assistance.assName }}<br>{{ assistance.assPhone }}</td>
                            <td style="text-align: center; width: 14.5%;">{{ assistance.assHead }}</td>
                            <td style="text-align: center; width: 15%;">{{assistance.station}}</td>
                            <td style="text-align: center; width: 15%;">{{ assistance.timestamp*1000 | date:'dd-MM-yyyy HH:mm:ss' }}</td>
                            <td *ngIf="assistance.status === 'Pending'" style="text-align: center; width: 13%;">Pending from GRPs</td>
                            <td *ngIf="assistance.status === 'In Progress' || assistance.status === 'Completed'" style="text-align: center; width: 13%;">{{ assistance.status }}</td>
                            <td *ngIf="assistance.status === 'Pending' || assistance.status == null" style="text-align: center; width: 17%;"><button type="submit">Notify</button></td>
                            <td *ngIf="assistance.status === 'In Progress'" style="text-align: center; width: 17%;"><button type="submit" style="background-color: rgb(231, 231, 17)" class="button_view">View</button></td>
                            <td *ngIf="assistance.status === 'Completed' && assistance.status != null" style="text-align: center; width: 17%;"><button type="submit" style="background-color: rgb(231, 231, 17)" class="button_view">View</button></td>
                        </tr>
                    </tbody>
                </table>
                <!-- If user is other than HQ control room -->
                <table *ngIf="currentUser!=='grphq.control.room@gmail.com'">
                    <thead>
                        <tr>
                            <td style="width: 200px;">Assistance Id</td>
                            <td style="text-align: center;">User Details</td>
                            <td>Assistance Type</td>
                            <td>Station</td>
                            <td>Timestamp</td>
                            <td>Status</td>
                            <td style="text-align: center;">Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let assistance of selectedGRPSAssistance | ngxSearchPipe:searchText | orderBy: key: reverse | paginate : {itemsPerPage:15,currentPage:p};">
                            <td class="col-id-no" scope="row" style="text-align: center; cursor: pointer;" (click)="openModalNew()">{{ assistance.assUnId }}</td>
                            <td class="col-first-name" scope="row" style="text-align: center;">{{ assistance.assName }}<br>{{ assistance.assPhone }}</td>
                            <td style="text-align: center;">{{ assistance.assHead }}</td>
                            <td style="text-align: center;">{{assistance.station}}</td>
                            <td style="text-align: center;">{{ assistance.timestamp*1000 | date:'dd-MM-yyyy HH:mm:ss' }}</td>
                            <td *ngIf="assistance.status === 'Pending'" style="text-align: center;">Pending from GRPs</td>
                            <td *ngIf="assistance.status === 'In Progress' || assistance.status === 'Completed'" style="text-align: center;">{{ assistance.status }}</td>
                            <td *ngIf="assistance.status === 'Pending' || assistance.status == null" style="text-align: center"><button type="submit">Notify</button></td>
                            <td *ngIf="assistance.status === 'In Progress'" style="text-align: center;"><button type="submit" style="background-color: rgb(231, 231, 17);" class="button_view">View</button></td>
                            <td *ngIf="assistance.status === 'Completed' && assistance.status != null" style="text-align: center"><button type="submit" style="background-color: rgb(231, 231, 17);" class="button_view">View</button></td>
                        </tr>
                    </tbody>
                </table>

                <!--Including the pagination control.-->
                <div class="text-right" style="margin-top: 50px;">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
  </div>
    
</body>
</html>