<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CivilIn-privacy-policy</title>
</head>

<body>
    <div class="container"  style="margin-top: 10px;">

    <h3 style="text-align: center">CivilIn Mobile App</h3>
    <h3>Privacy Statement</h3>
    <h6>Last updated: December 2022</h6><br>

    <h6>CivilIn is committed to protect your privacy, while delivering the software that brings you the convenience for
        lodging complaints & suggestions.
        This privacy statement governs your use of the CivilIn Mobile App.
        It does not apply to other online or offline CivilIn sites, services, or apps.
    </h6>
    <h3>Collection and Use of Your Information</h3>
    <h6>The CivilIn app does not collect or transmit data to CivilIn personally identifiable information or require the
        use of logins, passwords, etc.
        You are, however, offered the opportunity to participate in the App Rating Program.
        The App Rating collects information about your experience with application through rating of the application.
        We use this information to improve the quality, reliability, and performance of apps, and services.</h6>
    <h3>Security of Your Information</h3>
    <h6>CivilIn respects and protects the privacy of the individuals who use CivilIn's services and
        is committed to helping protect the security of your information.
        The application is, however, not capturing any individually identifiable information about you.</h6>
    <h3>Changes to this Privacy Statement</h3>
    <h6>We will occasionally update this privacy statement to reflect changes in our products, services and customer
        feedback.
        When we post changes, we will revise the "Last Updated" date at the top of this statement.
        If there are material changes to this statement or in case CivilIn will use your personal information,
        we will notify you by a notification of such changes prior to implementing the change.
        We encourage you to periodically review this statement to be informed of how CivilIn is protecting your
        information.
        CivilIn welcomes your comments regarding this privacy statement.
        If you have questions about this statement or believe that we have not adhered to it,
        please contact us by using our feedback option on www.civilinwbgrp.com/feedback1 or
        www.civilinwbgrp/feedback1 or use the contact information provided below:
    </h6>
    <br>

    <h6>
        7th Floor, Araksha Bhawan,<br>
        Salt Lake, Kol-91<br>
        Mail: adgprlyswb@gmail.com
    </h6>

    </div>
    

</body>

</html>