body{
    top: -50px;
    position: relative;
    background: url(../../../assets/complaint_test.jpg);
    /* background-repeat: no-repeat; */
    background-position: center;
    min-height:180%;
    background-size: 100% 100%;
}

.header{
    /* background: linear-gradient(rgb(46, 13, 154), white); */
    background: url(../../../assets/complaint_test.jpg);
    box-shadow: 0 10px 40px 0 #B0C1D9;
}

.header_img{
    position: relative;
    left: 10px!important;
    height: 100px;
    width: 100px;
    top: 20px;
}

.header h1{
    top: 25px;
    position: relative;
    color: white;
}

p{
    color: white;
}

label{
    margin-bottom: 10px;
    color: white;
}

.form-check{
    margin: 30px 0;
}

.ng-autocomplete {
    width:100%;
    /* max-width: 600px; */
    display: table;
    margin: 0 auto;
    border-radius: 15px;
}

.autocomplete-container .input-container input {
    border-radius: 15px!important;
}
  