<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raise Complaint!</title>
</head>
<body>
  
    <!-- Jumbotron -->
    <div class="p-5 text-center bg-body-tertiary header">
      <h1 class="mb-3">Raise A Complaint!!</h1>
      <!-- <a data-mdb-ripple-init class="btn btn-primary" href="" role="button">Call to action</a> -->
    </div>
    <!-- Jumbotron -->
    <div class="container mb-3 mt-5">
      <p>Please select which type of Complaint you want to raise:</p>
      <input type="radio" id="incident" name="incident" value="incident" (change)="showIncident()" [checked]="true">
      <label for="incident">Incident</label><br>
      <input type="radio" id="missing" name="incident" value="missing" (change)="showMissing()">
      <label for="missing">Missing</label><br>
    </div>

    <!-- Form1 Starts -->
    <div class="container mt-5" *ngIf="isIncident">
        <form
          id="userForm"
          #userForm="ngForm"
          (ngSubmit)="userForm.form.valid && onSubmit(userForm)"
        >
          <div class="form-group mb-3">
            <label>Name : </label>
            <input
              type="text"
              name="name"
              placeholder="Ex : Raju Roy"
              class="form-control"
              [(ngModel)]="model.name"
              #name="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }"
              required
            />
            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
              <p *ngIf="name.invalid">Name is required</p>
            </div>
          </div>
          <div class="form-group mb-3">
            <label>Email : </label>
            <input
              type="email"
              class="form-control"
              placeholder="Ex : abc@gmail.com"
              name="email"
              [(ngModel)]="model.email"
              #email="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && email.invalid }"
              email
              required
            />
            <div *ngIf="userForm.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.invalid">Email is required</div>
            </div>
          </div>
          <!-- <div class="form-group mb-3">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="model.password"
              #password="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && password.invalid }"
              minlength="8"
              required
            />
            <div
              *ngIf="userForm.submitted && password.invalid"
              class="invalid-feedback"
            >
              <div *ngIf="password.invalid">Password is required</div>
            </div>
          </div> -->
          <div class="form-group mb-3">
            <label>Mobile Number : </label>
            <input
              type="text"
              class="form-control"
              placeholder="Ex : +919234567890"
              name="mobileNo"
              [(ngModel)]="model.mobileNo"
              #mobileNo="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && mobileNo.invalid }"
              mobileNo
              required
            />
            <div *ngIf="userForm.submitted && mobileNo.invalid" class="invalid-feedback">
              <div *ngIf="mobileNo.invalid">Mobile Number is required</div>
            </div>
          </div>
          <!-- Default checkbox -->
          <div class="form-check">
            <label class="form-check-label" for="flexCheckDefaultPassenger">Check If Raising a Complaint for others?</label>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultPassenger" (change)="showHideTextPassenger();"/>
          </div>
          <div class="form-group mb-3" *ngIf="isDisplayedPassenger">
            <label>Co-passenger's Name : </label>
            <input
              type="text"
              name="coName"
              placeholder="Ex : Amit Pal"
              class="form-control"
              [(ngModel)]="model.coName"
              #coName="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && coName.invalid }"
              required
            />
            <div class="invalid-feedback" *ngIf="userForm.submitted && coName.invalid">
              <p *ngIf="coName.invalid">Co-passenger's Name is required</p>
            </div>
          </div>
          <div class="form-group mb-3" *ngIf="isDisplayedPassenger">
            <label>Co-passenger's Number : </label>
            <input
              type="text"
              name="coNumber"
              placeholder="Ex : +919234567890"
              class="form-control"
              [(ngModel)]="model.coNumber"
              #coNumber="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && coNumber.invalid }"
              required
            />
            <div class="invalid-feedback" *ngIf="userForm.submitted && coNumber.invalid">
              <p *ngIf="coNumber.invalid">Co-passenger's Number is required</p>
            </div>
          </div>
          <div class="form-group mb-3">
            <label>Complaint Subject</label>
            <select 
              class="form-control"
              name="complaintSub"
              [(ngModel)]="model.complaintSub"
              #complaintSub="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && complaintSub.invalid }"
              required
            >
              <option value="" disabled selected>---Choose Appropriate Complaint Subject---</option>
              <option *ngFor="let incSubject of incidentSubjects" [value]="incSubject">
                {{ incSubject }}
              </option>
            </select>
            <div class="invalid-feedback" *ngIf="userForm.submitted && complaintSub.invalid">
              <p *ngIf="complaintSub.invalid">Complaint Subject is required</p>
            </div>
          </div>
          <div class="form-group mb-3">
            <label>Complaint Description : </label>
            <input
              type="text"
              name="complaintText"
              placeholder="Write brief description..."
              class="form-control"
              [(ngModel)]="model.complaintText"
              #complaintText="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && complaintText.invalid }"
              required
            />
            <div class="invalid-feedback" *ngIf="userForm.submitted && complaintText.invalid">
              <p *ngIf="complaintText.invalid">Complaint Description is required</p>
            </div>
          </div>
          <!-- Default checkbox -->
          <div class="form-check">
            <label class="form-check-label" for="flexCheckDefaultLocal">Check If you are in Local Train?</label>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultLocal" (change)="showHideTextLocal();"/>
          </div>
          <div class="form-group mb-3" *ngIf="!isDisplayedLocal">
            <label>Train Number : </label>
            <!-- <input
              type="text"
              name="trainNumber"
              placeholder="---Select Train Number---"
              class="form-control"
              [(ngModel)]="model.trainNumber"
              #trainNumber="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && trainNumber.invalid }"
              required
            /> -->

            <ng-autocomplete 
                [data]="non_local_trains"
                [searchKeyword]="keyword"
                placeholder="Type Train No"
                (selected)='selectEventTrainNo($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                [itemTemplate]="itemTemplate4"
                [notFoundTemplate]="notFoundTemplate4"
                type="text"
                name="trainNumber"
                [(ngModel)]="model.trainNumber"
                #trainNumber="ngModel"
                [ngClass]="{ 'is-invalid': userForm.submitted && trainNumber.invalid }"
                required>                                 
            </ng-autocomplete>
              
            <ng-template #itemTemplate4 let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>
              
            <ng-template #notFoundTemplate4 let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>

            <div class="invalid-feedback" *ngIf="userForm.submitted && trainNumber.invalid">
              <p *ngIf="trainNumber.invalid">Train Number is required</p>
            </div>
          </div>
          <div class="form-group mb-3" *ngIf="!isDisplayedLocal">
            <label>Coach Number : </label>
            <input
              type="text"
              name="coachNumber"
              placeholder="Ex : S2"
              class="form-control"
              [(ngModel)]="model.coachNumber"
              #coachNumber="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && coachNumber.invalid }"
              required
            />
            <div class="invalid-feedback" *ngIf="userForm.submitted && coachNumber.invalid">
              <p *ngIf="coachNumber.invalid">Coach Number is required</p>
            </div>
          </div>
          <div class="form-group mb-3" *ngIf="!isDisplayedLocal">
            <label>Berth Number : </label>
            <input
              type="text"
              name="berthNumber"
              placeholder="Ex : 45"
              class="form-control"
              [(ngModel)]="model.berthNumber"
              #berthNumber="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && berthNumber.invalid }"
              required
            />
            <div class="invalid-feedback" *ngIf="userForm.submitted && berthNumber.invalid">
              <p *ngIf="berthNumber.invalid">Berth Number is required</p>
            </div>
          </div>
          <div class="form-group mb-3" *ngIf="isDisplayedLocal">
            <label>Originating Station : </label>
            <!-- <input
              type="text"
              name="originatingStation"
              class="form-control"
              [(ngModel)]="model.originatingStation"
              #originatingStation="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && originatingStation.invalid }"
              required
            /> -->
            <ng-autocomplete 
                [data]="data"
                [searchKeyword]="keyword"
                placeholder="Type originating station name"
                (selected)='selectEventOrgStation($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                [itemTemplate]="itemTemplate3"
                [notFoundTemplate]="notFoundTemplate3"
                type="text"
                name="originatingStation"
                [(ngModel)]="model.originatingStation"
                #originatingStation="ngModel"
                [ngClass]="{ 'is-invalid': userForm.submitted && originatingStation.invalid }"
                required>                                 
            </ng-autocomplete>
              
            <ng-template #itemTemplate3 let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>
              
            <ng-template #notFoundTemplate3 let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>

            <div class="invalid-feedback" *ngIf="userForm.submitted && originatingStation.invalid">
              <p *ngIf="originatingStation.invalid">Originating Station is required</p>
            </div>
          </div>
          <div class="form-group mb-3" *ngIf="isDisplayedLocal">
            <label>Destination Station : </label>
            <!-- <input
              type="text"
              name="destinationStation"
              class="form-control"
              [(ngModel)]="model.destinationStation"
              #destinationStation="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && destinationStation.invalid }"
              required
            /> -->
            <ng-autocomplete 
                [data]="data"
                [searchKeyword]="keyword"
                placeholder="Type destination station name"
                (selected)='selectEventDestStation($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                [itemTemplate]="itemTemplate2"
                [notFoundTemplate]="notFoundTemplate2"
                type="text"
                name="destinationStation"
                [(ngModel)]="model.destinationStation"
                #destinationStation="ngModel"
                [ngClass]="{ 'is-invalid': userForm.submitted && destinationStation.invalid }"
                required>                                 
            </ng-autocomplete>
              
            <ng-template #itemTemplate2 let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>
              
            <ng-template #notFoundTemplate2 let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>

            <div class="invalid-feedback" *ngIf="userForm.submitted && destinationStation.invalid">
              <p *ngIf="destinationStation.invalid">Destination Station is required</p>
            </div>
          </div>
          <!-- <div class="form-group mb-3">
            <label>Nearest Station from Occurance of Incident : </label>
            <input
              type="text"
              name="nearestStation"
              class="form-control"
              [(ngModel)]="model.nearestStation"
              #nearestStation="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && nearestStation.invalid }"
              required
            />
            <div class="invalid-feedback" *ngIf="userForm.submitted && nearestStation.invalid">
              <p *ngIf="nearestStation.invalid">Nearest Station is required</p>
            </div>
          </div> -->
          <div class="form-group mb-3">
              <label>Nearest Station from Occurance of Incident : </label>
              <ng-autocomplete 
                [data]="data"
                [searchKeyword]="keyword"
                placeholder="Type station name"
                (selected)='selectEventStationofOccurance($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate"
                type="text"
                name="nearestStation"
                [(ngModel)]="model.nearestStation"
                #nearestStation="ngModel"
                [ngClass]="{ 'is-invalid': userForm.submitted && nearestStation.invalid }"
                required>                                 
              </ng-autocomplete>
              
              <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name"></a>
              </ng-template>
              
              <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
              </ng-template>
              <div class="invalid-feedback" *ngIf="userForm.submitted && nearestStation.invalid">
                <p *ngIf="nearestStation.invalid">Nearest Station is required</p>
              </div>
          </div>
          <!-- <div id="recaptcha-container" style="margin-bottom: 20px;"></div> -->
          <div class="form-group">
            <button class="btn btn-danger btn-block">Submit</button>
          </div>
        </form>
        <div id="sign-in-button"></div>
      </div>
      <!-- Form1 Ends -->

      <!-- Form2 Starts -->
      <div class="container mt-5" *ngIf="isMissing">
        <form
          #userForm="ngForm"
          (ngSubmit)="userForm.form.valid && onSubmit(userForm)"
        >
          <div class="form-group mb-3">
            <label>Name : </label>
            <input
              type="text"
              name="name"
              placeholder="Ex : Raju Roy"
              class="form-control"
              [(ngModel)]="modelMissing.name"
              #name="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }"
              required
            />
            <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
              <p *ngIf="name.invalid">Name is required</p>
            </div>
          </div>
          <div class="form-group mb-3">
            <label>Email : </label>
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Ex : abc@gmail.com"
              [(ngModel)]="modelMissing.email"
              #email="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && email.invalid }"
              email
              required
            />
            <div *ngIf="userForm.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.invalid">Email is required</div>
            </div>
          </div>
          <!-- <div class="form-group mb-3">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="model.password"
              #password="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && password.invalid }"
              minlength="8"
              required
            />
            <div
              *ngIf="userForm.submitted && password.invalid"
              class="invalid-feedback"
            >
              <div *ngIf="password.invalid">Password is required</div>
            </div>
          </div> -->
          <div class="form-group mb-3">
            <label>Mobile Number : </label>
            <input
              type="text"
              class="form-control"
              name="mobileNo"
              placeholder="Ex : +919234567890"
              [(ngModel)]="modelMissing.mobileNo"
              #mobileNo="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && mobileNo.invalid }"
              mobileNo
              required
            />
            <div *ngIf="userForm.submitted && mobileNo.invalid" class="invalid-feedback">
              <div *ngIf="mobileNo.invalid">Mobile Number is required</div>
            </div>
          </div>
          <!-- Default checkbox -->
          <div class="form-check">
            <label class="form-check-label" for="flexCheckDefaultPassenger">Check If Raising a Complaint for others?</label>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultPassenger" (change)="showHideTextPassenger();"/>
          </div>
          <div class="form-group mb-3" *ngIf="isDisplayedPassenger">
            <label>Co-passenger's Name : </label>
            <input
              type="text"
              name="coName"
              placeholder="Ex : Amit Pal"
              class="form-control"
              [(ngModel)]="modelMissing.coName"
              #coName="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && coName.invalid }"
              required
            />
            <div class="invalid-feedback" *ngIf="userForm.submitted && coName.invalid">
              <p *ngIf="coName.invalid">Co-passenger's Name is required</p>
            </div>
          </div>
          <div class="form-group mb-3" *ngIf="isDisplayedPassenger">
            <label>Co-passenger's Number : </label>
            <input
              type="text"
              name="coNumber"
              placeholder="Ex : +919234567890"
              class="form-control"
              [(ngModel)]="model.coNumber"
              #coNumber="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && coNumber.invalid }"
              required
            />
            <div class="invalid-feedback" *ngIf="userForm.submitted && coNumber.invalid">
              <p *ngIf="coNumber.invalid">Co-passenger's Number is required</p>
            </div>
          </div>
          <div class="form-group mb-3">
            <label>Complaint Subject</label>
            <select 
              class="form-control"
              name="complaintSub"
              placeholder="---Choose Appropriate Complaint Subject---" 
              [(ngModel)]="modelMissing.complaintSub"
              #complaintSub="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && complaintSub.invalid }"
              required
            >
              <option value="">-----Select an option-----</option>
              <option *ngFor="let missSubject of missingSubjects" [value]="missSubject">
                {{ missSubject }}
              </option>
            </select>
            <div class="invalid-feedback" *ngIf="userForm.submitted && complaintSub.invalid">
              <p *ngIf="complaintSub.invalid">Complaint Subject is required</p>
            </div>
          </div>
          <div class="form-group mb-3">
            <label>Complaint Description : </label>
            <input
              type="text"
              name="complaintText"
              placeholder="Write brief description..."
              class="form-control"
              [(ngModel)]="modelMissing.complaintText"
              #complaintText="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && complaintText.invalid }"
              required
            />
            <div class="invalid-feedback" *ngIf="userForm.submitted && complaintText.invalid">
              <p *ngIf="complaintText.invalid">Complaint Description is required</p>
            </div>
          </div>
          <!-- Default checkbox -->
          <div class="form-check">
            <label class="form-check-label" for="flexCheckDefaultLocal">Check If you are in Local Train?</label>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultLocal" (change)="showHideTextLocal();"/>
          </div>
          <div class="form-group mb-3" *ngIf="!isDisplayedLocal">
            <label>Train Number : </label>
            <!-- <input
              type="text"
              name="trainNumber"
              placeholder="---Select Train Number---"
              class="form-control"
              [(ngModel)]="modelMissing.trainNumber"
              #trainNumber="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && trainNumber.invalid }"
              required
            /> -->

            <ng-autocomplete 
                [data]="non_local_trains"
                [searchKeyword]="keyword"
                placeholder="Type Train No"
                (selected)='selectEvent($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                [itemTemplate]="itemTemplate4"
                [notFoundTemplate]="notFoundTemplate4"
                type="text"
                name="trainNumber"
                [(ngModel)]="modelMissing.trainNumber"
                #trainNumber="ngModel"
                [ngClass]="{ 'is-invalid': userForm.submitted && trainNumber.invalid }"
                required>                                 
            </ng-autocomplete>
              
            <ng-template #itemTemplate4 let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>
              
            <ng-template #notFoundTemplate4 let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>

            <div class="invalid-feedback" *ngIf="userForm.submitted && trainNumber.invalid">
              <p *ngIf="trainNumber.invalid">Train Number is required</p>
            </div>
          </div>
          <div class="form-group mb-3" *ngIf="!isDisplayedLocal">
            <label>Coach Number : </label>
            <input
              type="text"
              name="coachNumber"
              placeholder="Ex : S2"
              class="form-control"
              [(ngModel)]="modelMissing.coachNumber"
              #coachNumber="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && coachNumber.invalid }"
              required
            />
            <div class="invalid-feedback" *ngIf="userForm.submitted && coachNumber.invalid">
              <p *ngIf="coachNumber.invalid">Coach Number is required</p>
            </div>
          </div>
          <div class="form-group mb-3" *ngIf="!isDisplayedLocal">
            <label>Berth Number : </label>
            <input
              type="text"
              name="berthNumber"
              placeholder="Ex : 45"
              class="form-control"
              [(ngModel)]="modelMissing.berthNumber"
              #berthNumber="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && berthNumber.invalid }"
              required
            />
            <div class="invalid-feedback" *ngIf="userForm.submitted && berthNumber.invalid">
              <p *ngIf="berthNumber.invalid">Berth Number is required</p>
            </div>
          </div>
          <div class="form-group mb-3" *ngIf="isDisplayedLocal">
            <label>Originating Station : </label>
            <!-- <input
              type="text"
              name="originatingStation"
              class="form-control"
              [(ngModel)]="modelMissing.originatingStation"
              #originatingStation="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && originatingStation.invalid }"
              required
            /> -->
            <ng-autocomplete 
                [data]="data"
                [searchKeyword]="keyword"
                placeholder="Type originating station name"
                (selected)='selectEvent($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                [itemTemplate]="itemTemplate3"
                [notFoundTemplate]="notFoundTemplate3"
                type="text"
                name="originatingStation"
                [(ngModel)]="modelMissing.originatingStation"
                #originatingStation="ngModel"
                [ngClass]="{ 'is-invalid': userForm.submitted && originatingStation.invalid }"
                required>                                 
            </ng-autocomplete>
              
            <ng-template #itemTemplate3 let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>
              
            <ng-template #notFoundTemplate3 let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>

            <div class="invalid-feedback" *ngIf="userForm.submitted && originatingStation.invalid">
              <p *ngIf="originatingStation.invalid">Originating Station is required</p>
            </div>
          </div>
          <div class="form-group mb-3" *ngIf="isDisplayedLocal">
            <label>Destination Station : </label>
            <!-- <input
              type="text"
              name="destinationStation"
              class="form-control"
              [(ngModel)]="modelMissing.destinationStation"
              #destinationStation="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && destinationStation.invalid }"
              required
            /> -->
            <ng-autocomplete 
                [data]="data"
                [searchKeyword]="keyword"
                placeholder="Type destination station name"
                (selected)='selectEvent($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                [itemTemplate]="itemTemplate2"
                [notFoundTemplate]="notFoundTemplate2"
                type="text"
                name="destinationStation"
                [(ngModel)]="modelMissing.destinationStation"
                #destinationStation="ngModel"
                [ngClass]="{ 'is-invalid': userForm.submitted && destinationStation.invalid }"
                required>                                 
            </ng-autocomplete>
              
            <ng-template #itemTemplate2 let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>
              
            <ng-template #notFoundTemplate2 let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>

            <div class="invalid-feedback" *ngIf="userForm.submitted && destinationStation.invalid">
              <p *ngIf="destinationStation.invalid">Destination Station is required</p>
            </div>
          </div>
          <div class="form-group mb-3">
            <label>Nearest Station from Occurance of Incident : </label>
            <ng-autocomplete 
              [data]="data"
              [searchKeyword]="keyword"
              placeholder="Type station name"
              (selected)='selectEvent($event)'
              (inputChanged)='onChangeSearch($event)'
              (inputFocused)='onFocused($event)'
              historyIdentifier="data"
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate"
              type="text"
              name="nearestStation"
              [(ngModel)]="modelMissing.nearestStation"
              #nearestStation="ngModel"
              [ngClass]="{ 'is-invalid': userForm.submitted && nearestStation.invalid }"
              required>                                 
            </ng-autocomplete>
            
            <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
            </ng-template>
            
            <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>
            <div class="invalid-feedback" *ngIf="userForm.submitted && nearestStation.invalid">
              <p *ngIf="nearestStation.invalid">Nearest Station is required</p>
            </div>
        </div>
          <!-- <div id="recaptcha-container" style="margin-bottom: 20px;"></div> -->
          <div class="form-group">
            <button class="btn btn-danger btn-block" id="sign-in-button">Submit</button>
          </div>
        </form>
      </div>
      <!-- Form2 Ends -->

      <!-- <div id="recaptcha-container" style="margin-bottom: 20px;" class="container mt-5"></div>

      <div *ngIf="windowRef.confirmationResult">
        <hr>
        <label for="code">Enter your Verification Code Here</label><br>
        <input type="text" name="code" [(ngModel)]="verificationCode" class="input">
    
        <button class="button is-success" (click)="verifyLoginCode()">Verify</button>
      </div>
      <div *ngIf="user">

        <div class="notification is-success">You have successfully logged in with your phone number!</div>
      
        UserId: {{ user?.uid }}
      
      </div> -->
</body>
</html>