<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CivilIn-assistance-list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="d-flex justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem; margin-top: 400px;" role="status" *ngIf="loader">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="container-fluid bg-image" *ngIf="!loader">
        <app-navbar></app-navbar>
        <section class='section_gradient' id='section_gradient'>
            <div class="loggedinUser">
                <p>{{wish}}, {{currentUser}}!</p>
            </div>
            <div class="header_fixed_ass">

                <div style="display: inline-block; width: 100%">
                    <div class="search_control">
                        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                            placeholder="Start searching...">
                    </div>
                    <div class="dropdown_select">
                        <select [(ngModel)]="selectedHead" (change)="valueSelected()" class="dropdown_select_ass">
                            <option>All</option>
                            <option>Pending</option>
                            <option>Assigned</option>
                            <option>In Progress</option>
                            <option>Completed</option>
                        </select>
                    </div>
                </div>

                <!-- Template for Assign task to GRP/GRPS -->

                <!-- <ng-template #template id="template">
                <section class="step-wizard-new">
                    <button type="button" class="close float-end" area-label="Close" (click)="modalRef.hide()" style="margin-right: 10px; margin-top: 10px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="clearfix">
                        <h5 class="modal-title float-start" style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;">Assign Assistance : {{ modalAssistance_assistanceId }}</h5>
                        <h5 class="modal-title float-start" style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;">Assistance Description : {{ modalAssistance_assistanceDesc }}</h5>
                    </div>
                    <form action="#">
                        <label for="GRPS-names" style="margin-left: 10px; font-weight: bold;">Choose a GRPS to assign: </label><br>
                        <select name="GRPS-names" id="GRPS-names" style="margin-left: 10px; margin-top: 10px; height: 35px;" [(ngModel)]="selectedGRPS">
                            <option value="HWH-GRP">Howrah GRPS</option>
                            <option value="KGP-GRP">Belur GRPS</option>
                            <option value="SIL-GRP">Kamarkundu GRPS</option>
                            <option value="SIL-GRP">Sheoraphully GRPS</option>
                            <option value="SIL-GRP">Bandel GRPS</option>
                            <option value="SIL-GRP">Burdwan GRPS</option>
                            <option value="SIL-GRP">Andal GRPS</option>
                            <option value="SIL-GRP">Asansol GRPS</option>
                            <option value="SIL-GRP">Kalna GRPS</option>
                            <option value="SIL-GRP">Katwa GRPS</option>
                            <option value="SIL-GRP">Sainthia GRPS</option>
                            <option value="SIL-GRP">Suri GRPS</option>
                            <option value="SIL-GRP">Azimganj GRPS</option>
                            <option value="SIL-GRP">Sealdah GRPS</option>
                            <option value="SIL-GRP">Dum Dum GRPS</option>
                            <option value="SIL-GRP">Chitput GRPS</option>
                            <option value="SIL-GRP">Naihati GRPS</option>
                            <option value="SIL-GRP">Ranaghat GRPS</option>
                            <option value="SIL-GRP">Krishnanagar GRPS</option>
                            <option value="SIL-GRP">Berhampore Court GRPS</option>
                            <option value="SIL-GRP">Bongoan GRPS</option>
                            <option value="SIL-GRP">Barasat_1 GRPS</option>
                            <option value="SIL-GRP">Barasat_2 GRPS</option>
                            <option value="SIL-GRP">Ballygunge GRPS</option>
                        </select><br>

                        <label for="Priority-names" style="margin-left: 10px; font-weight: bold;">Choose priority: </label><br>
                        <select name="Priority-names" id="Priority-names" style="margin-left: 10px; margin-top: 10px; height: 30px;" [(ngModel)]="selectedPriority">
                            <option value="Critical">Critical</option>
                            <option value="High">High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                        </select><br>
                        <label for="remarks" style="margin-left: 10px; font-weight: bold;">Remarks(if Any): </label><br>
                        <textarea id="remarks" name="remarks" rows="4" cols="50" style="margin-left: 10px; padding: 10px; margin-top: 10px;" placeholder="Type your remarks.." [(ngModel)]="selectedRemarks"></textarea><br><br>
                        <input type="submit" value="Submit" class="btn btn-primary float-start" (click)="updateAssistance()" style="padding: 5px; margin-bottom: 5px; margin-left: 5px;"/>
                        <button type="button" class="btn btn-primary float-end" (click)="modalRef.hide()" style="padding: 5px; margin-bottom: 5px; margin-right: 5px;">
                            Close
                        </button>
                    </form>
                </section>
                </ng-template> -->

                <!-- Template 2 for Assign task to GRP/GRPS -->

                <ng-template #template_new id="template_new">
                    <section class="step-wizard-new">
                        <button type="button" class="close float-end" area-label="Close" (click)="modalRef.hide()" style="margin-right: 10px; margin-top: 10px;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="clearfix">
                            <h5 class="modal-title float-start" style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;">Assign Assistance : {{ modalAssistance_assistanceId }}</h5><br><br><hr>
                            <h5 class="modal-title float-start" style="margin-left: 10px; margin-top: 5px; margin-bottom: 15px; font-size: 30px;">Assistance Description : <h6 style="font-style: italic; margin-top: 5px;">{{ modalAssistance_assistanceDesc }}</h6></h5>
                        </div>
                        <!-- <form action="#"> -->
                            <form [formGroup]="form_assign_assistance">
                            <label for="GRP-names" style="margin-left: 10px; font-weight: bold;">Choose a GRP to assign: </label><br>
                            <select name="GRP-names" id="GRP-names"  formControlName="GRP" (change)="checkFirstDropdown($any($event.target).value)" style="margin-left: 10px; margin-top: 10px; height: 35px; margin-bottom: 10px; min-width: 200px;" [(ngModel)]="selectedGRP" required>
                                <option *ngFor="let grp of allGRP" [value]="grp.id">
                                    {{ grp.name }}
                                </option>
                            </select>

                            <br>
                            <label for="GRPS-names" style="margin-left: 10px; font-weight: bold;">Choose a GRPS to assign: </label><br>
                            <select name="GRPS-names" id="GRPS-names" formControlName="GRPS" style="margin-left: 10px; margin-top: 10px; height: 35px; min-width: 200px; margin-bottom: 10px; text-align: center;" [(ngModel)]="selectedGRPS" required>
                                <option *ngFor="let grps of allGRPS" [value]="grps.id">
                                    {{ grps.city }}
                                </option>
                            </select>
                            </form>
    
                            <label for="Priority-names" style="margin-left: 10px; font-weight: bold;">Choose priority: </label><br>
                            <select name="Priority-names" id="Priority-names" style="margin-left: 10px; margin-top: 10px; height: 35px; margin-bottom: 10px; min-width: 200px;" [(ngModel)]="selectedPriority" required>
                                <option value="Critical">Critical</option>
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                            </select><br>
                            <label for="remarks" style="margin-left: 10px; font-weight: bold;">Remarks(if Any): </label><br>
                            <textarea id="remarks" name="remarks" rows="4" cols="50" style="margin-left: 10px; padding: 10px; margin-top: 10px;" placeholder="Type your remarks.." [(ngModel)]="selectedRemarks" required></textarea><br><br>
                            <input type="submit" value="Submit" class="btn btn-primary float-start" (click)="updateAssistance()" style="padding: 5px; margin-bottom: 5px; margin-left: 5px;"/>
                            <button type="button" class="btn btn-primary float-end" (click)="modalRef.hide()" style="padding: 5px; margin-bottom: 5px; margin-right: 5px;">
                                Close
                            </button>
                        <!-- </form> -->
                    </section>
                </ng-template>

                <!-- template for step progress bar new code-->

                <ng-template #template_progress_new id="template_progress_new">
                    <section class="step-wizard">
                        <button type="button" class="close float-end" area-label="Close" (click)="modalRef.hide()" style="margin-right: 10px; margin-top: 10px;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="clearfix">
                            <h5 class="modal-title float-start" style="margin-left: 10px; margin-top: 10px;">Assistance Id: {{ modalAssistance_progress_unId }}</h5><br><br><hr>
                            <h5 class="modal-title float-start" style="margin-left: 10px; margin-top: 5px;">Status of Assistance : {{ modalAssistance_progress_status }}</h5>
                            <h5 class="modal-title float-start" style="margin-left: 10px; margin-top: 5px;">Assistance assigned to : {{ modalAssistance_progress_assignedToGRP }}</h5>
                            <h5 class="modal-title float-start" style="margin-left: 10px; margin-top: 20px; font-size: 30px;">Assistance Description : <h6 style="font-style: italic; margin-top: 5px;">{{ modalAssistance_assistanceDesc }}</h6></h5>
                            <h5 class="modal-title float-start" style="margin-left: 10px; margin-top: 20px; font-size: 30px;">Remarks After Completion : <h6 style="font-style: italic; margin-top: 5px;">{{ modalAssistance_remarks_after_completion }}</h6></h5>
                            <h5 *ngIf="orderPriority==='Critical'" class="modal-title float-start" style="margin-left: 10px; margin-top: 5px; color: red;">Priority of Assistance : {{ modalAssistance_progress_priority }}</h5>
                            <h5 *ngIf="orderPriority==='High'" class="modal-title float-start" style="margin-left: 10px; margin-top: 5px; color: rgb(185, 136, 45);">Priority of Assistance : {{ modalAssistance_progress_priority }}</h5>
                            <h5 *ngIf="orderPriority==='Medium'" class="modal-title float-start" style="margin-left: 10px; margin-top: 5px; color: rgb(163, 163, 30);">Priority of Assistance : {{ modalAssistance_progress_priority }}</h5>
                            <h5 *ngIf="orderPriority==='Low'" class="modal-title float-start" style="margin-left: 10px; margin-top: 5px; color: green;">Priority of Assistance : {{ modalAssistance_progress_priority }}</h5>
                        </div><br>

                        <div class="progress_bar">
                            <span *ngFor="let item of counts; let i = index">
                              <span class="circles" [class.active]="orderStatus == item"></span>
                              <span class="bar" *ngIf="(i != counts.length-1)"></span>
                            </span>
                        </div>

                        <div style="margin-left: 50px;">
                            <div class="display_desc" *ngFor="let item of counts">
                                <span [class.circle-desc-active]="orderStatus == item">{{ item }}</span>
                            </div>
                        </div>
                        
                        <button type="button" class="btn btn-primary" (click)="modalRef.hide()" style="padding: 5px; margin-top: 40px; margin-bottom: 10px; margin-left: 225px;">
                            Close
                        </button>
                    </section>
                </ng-template>

                <!-- Template for accept assistance -->

                <ng-template #template_accept_assistance id="template_accept_assistance">
                    <section class="step-wizard">
                        <button type="button" class="close float-end" area-label="Close" (click)="modalRef.hide()" style="margin-right: 10px; margin-top: 10px;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="clearfix">
                            <h5 class="modal-title float-start" style="margin-left: 10px; margin-top: 5px;">Assistance Id : {{ modalAssistance_progress_unId }}</h5><br><br><hr>
                            <h5 class="modal-title float-start" style="margin-left: 10px; margin-top: 5px; font-size: 30px;">Assistance Description : <h6 style="font-style: italic; margin-top: 5px;">{{ modalAssistance_assistanceDesc }}</h6></h5>
                            <h5 class="modal-title float-start" style="margin-left: 10px; margin-top: 5px; font-size: 30px;">Remarks from HQ : <h6 style="font-style: italic; margin-top: 5px;">{{ modalAssistance_remarks }}</h6></h5>
                            <h5 *ngIf="orderPriority==='Critical'" class="modal-title float-start" style="margin-left: 10px; margin-top: 5px; color: red;">Priority of Assistance : {{ modalAssistance_progress_priority }}</h5>
                            <h5 *ngIf="orderPriority==='High'" class="modal-title float-start" style="margin-left: 10px; margin-top: 5px; color: rgb(185, 136, 45);">Priority of Assistance : {{ modalAssistance_progress_priority }}</h5>
                            <h5 *ngIf="orderPriority==='Medium'" class="modal-title float-start" style="margin-left: 10px; margin-top: 5px; color: rgb(163, 163, 30);">Priority of Assistance : {{ modalAssistance_progress_priority }}</h5>
                            <h5 *ngIf="orderPriority==='Low'" class="modal-title float-start" style="margin-left: 10px; margin-top: 5px; color: green;">Priority of Assistance : {{ modalAssistance_progress_priority }}</h5>
                        </div><br>
                        <input type="submit" value="Accept" class="btn btn-primary float-start" (click)="acceptAssistance()" style="padding: 5px; margin-bottom: 10px; margin-left: 45%;"/>
                    </section>
                </ng-template>

                <!-- Template for complete Assistance -->

                <ng-template #template_complete_assistance id="template_complete_assistance">
                    <section class="step-wizard">
                        <button type="button" class="close float-end" area-label="Close" (click)="modalRef.hide()" style="margin-right: 10px; margin-top: 10px;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="clearfix">
                            <h5 class="modal-title float-start" style="margin-left: 10px; margin-top: 5px;">Assistance Id : {{ modalAssistance_progress_unId }}</h5><br><br><hr>
                            <h5 class="modal-title float-start" style="margin-left: 10px; margin-top: 5px; font-size: 30px;">Assistance Description : <h6 style="font-style: italic; margin-top: 5px;">{{ modalAssistance_assistanceDesc }}</h6></h5>
                            <h5 class="modal-title float-start" style="margin-left: 10px; margin-top: 5px; font-size: 30px;">Remarks from HQ : <h6 style="font-style: italic; margin-top: 5px;">{{ modalAssistance_remarks }}</h6></h5>
                            <h5 *ngIf="orderPriority==='Critical'" class="modal-title float-start" style="margin-left: 10px; margin-top: 5px; color: red;">Priority of Assistance : {{ modalAssistance_progress_priority }}</h5>
                            <h5 *ngIf="orderPriority==='High'" class="modal-title float-start" style="margin-left: 10px; margin-top: 5px; color: rgb(185, 136, 45);">Priority of Assistance : {{ modalAssistance_progress_priority }}</h5>
                            <h5 *ngIf="orderPriority==='Medium'" class="modal-title float-start" style="margin-left: 10px; margin-top: 5px; color: rgb(163, 163, 30);">Priority of Assistance : {{ modalAssistance_progress_priority }}</h5>
                            <h5 *ngIf="orderPriority==='Low'" class="modal-title float-start" style="margin-left: 10px; margin-top: 5px; color: green;">Priority of Assistance : {{ modalAssistance_progress_priority }}</h5>
                        </div><br>

                        <!-- step progress bar new code-->

                        <div class="progress_bar">
                            <span *ngFor="let item of counts; let i = index">
                                <span class="circles" [class.active]="orderStatus == item"></span>
                                <span class="bar" *ngIf="(i != counts.length-1)"></span>
                            </span>
                        </div>
                        
                        <div style="margin-left: 50px; margin-bottom: 20px;">
                            <div class="display_desc" *ngFor="let item of counts">
                                <span [class.circle-desc-active]="orderStatus == item">{{ item }}</span>
                            </div>
                        </div>

                        <label for="remarksCompleted" style="margin-left: 10px; font-size: 30px;">Remarks for Completion : </label><br>
                        <textarea id="remarksCompleted" name="remarksCompleted" rows="4" cols="60" style="margin-left: 10px; padding: 10px; margin-top: 10px; max-width: 95%;" placeholder="Type your remarks for completion" [(ngModel)]="selectedRemarksCompleted"></textarea><br><br>

                        <input type="submit" value="Complete" class="btn btn-primary float-start" (click)="completeAssistance()" style="padding: 5px; margin-bottom: 10px; margin-left: 40%;"/>

                    </section>
                </ng-template>
    
                <!-- SHOW TABLE DATA FOR CONTROL ROOM -->

                <div style="width: 100%; height: 92%; overflow: auto;" *ngIf="currentUser==='grphq.control.room@gmail.com'">
                    <table class="freeze-table" style="width:94%" id="myTable">
                        <thead>
                            <tr>
                                <th (click)="sort('assUnId')" style="min-width: 75px; width: 75px; text-align: center;"
                                    class="col-id-no fixed-header">Request Id&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('assName')" style="min-width: 100px; width:100px; text-align: center;"
                                    class="col-first-name fixed-header">User Name&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('assHead')" style="min-width: 120px; width:120px; text-align: center;">
                                    Assistance Head&nbsp;<i class="fa fa-sort"></i></th>
                                <th style="min-width: 280px; width:280px; text-align: center;">Remarks</th>
                                <th (click)="sort('station')" style="min-width: 100px; width:100px; text-align: center;">
                                    Station&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('timestamp')" style="min-width: 75px; width: 75px; text-align: center;">
                                    Timestamp&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('status')" style="min-width: 75px; width: 75px; text-align: center;">
                                    Status&nbsp;<i class="fa fa-sort"></i></th>
                                <th style="min-width: 75px; width: 75px; text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let assistance of selectedAssistance | filter:searchText | orderBy: key: reverse | paginate : {itemsPerPage:15,currentPage:p};">
                                <td class="col-id-no" scope="row" style="text-align: center;">{{ assistance.assUnId }}</td>
                                <td class="col-first-name" scope="row" style="text-align: center;">{{ assistance.assName }}</td>
                                <td style="text-align: center;">{{ assistance.assHead }}</td>
                                <td style="text-align: center;">{{ assistance.assRemarks }}</td>
                                <td style="text-align: center;">{{ assistance.station }}</td>
                                <td style="text-align: center;">{{ assistance.timestamp*1000 | date:'dd-MM-yyyy HH:mm:ss' }}</td>
                                <td style="text-align: center;">{{ assistance.status }}</td>
                                <td *ngIf="assistance.status === 'Pending' || assistance.status == null" style="text-align: center"><button type="submit" (click)="openModal(template_new, assistance)">Assign</button></td>
                                <td *ngIf="assistance.status !== 'Pending' && assistance.status != null" style="text-align: center"><button type="submit" (click)="openModal_progress(template_progress_new, assistance)" style="background-color: rgb(231, 231, 17);" class="button_view">View</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    <p *ngIf="selectedAssistance?.length === 0" style="margin-left: 600px; margin-top: 100px;">No Records
                        Found</p>
                </div>

                <!-- SHOW TABLE DATA FOR HOWRAH GRP -->

                <div style="width: 100%; height: 92%; overflow: auto;" *ngIf="currentUser==='grphwh.control.room@gmail.com'">
                    <table class="freeze-table" style="width:94%" id="myTable">
                        <thead>
                            <tr>
                                <th (click)="sort('assUnId')" style="min-width: 75px; width: 75px; text-align: center;"
                                    class="col-id-no fixed-header">Request Id&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('assName')" style="min-width: 100px; width:100px; text-align: center;"
                                    class="col-first-name fixed-header">User Name&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('assHead')" style="min-width: 120px; width:120px; text-align: center;">
                                    Assistance Head&nbsp;<i class="fa fa-sort"></i></th>
                                <th style="min-width: 280px; width:280px; text-align: center;">Remarks</th>
                                <th (click)="sort('station')" style="min-width: 100px; width:100px; text-align: center;">
                                    Station&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('timestamp')" style="min-width: 75px; width: 75px; text-align: center;">
                                    Timestamp&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('status')" style="min-width: 75px; width: 75px; text-align: center;">
                                    Status&nbsp;<i class="fa fa-sort"></i></th>
                                <th style="min-width: 75px; width: 75px; text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let assistance of selectedHWHAssistance | filter:searchText | orderBy: key: reverse | paginate : {itemsPerPage:15,currentPage:p};">
                                <td class="col-id-no" scope="row" style="text-align: center;">{{ assistance.assUnId }}</td>
                                <td class="col-first-name" scope="row" style="text-align: center;">{{ assistance.assName }}</td>
                                <td style="text-align: center;">{{ assistance.assHead }}</td>
                                <td style="text-align: center;">{{ assistance.assRemarks }}</td>
                                <td style="text-align: center;">{{ assistance.station }}</td>
                                <td style="text-align: center;">{{ assistance.timestamp*1000 | date:'dd-MM-yyyy HH:mm:ss' }}</td>
                                <td *ngIf="assistance.status === 'Assigned'" style="text-align: center;">Pending</td>
                                <td *ngIf="assistance.status === 'In Progress' || assistance.status === 'Completed'" style="text-align: center;">{{ assistance.status }}</td>
                                <td *ngIf="assistance.status === 'Assigned' || assistance.status == null" style="text-align: center"><button type="submit" (click)="openModal_afterAssigned(template_accept_assistance, assistance)">Assign</button></td>
                                <!-- <td *ngIf="assistance.status !== 'Assigned' && assistance.status != null" style="text-align: center"><button type="submit" (click)="openModal_progress(template_progress_new, assistance)" style="background-color: rgb(231, 231, 17);" class="button_view">View</button></td> -->
                                <td *ngIf="assistance.status === 'In Progress'" style="text-align: center"><button type="submit" (click)="openModal_complete(template_complete_assistance, assistance)" style="background-color: rgb(231, 231, 17);" class="button_view">Complete</button></td>
                                <td *ngIf="assistance.status === 'Completed' && assistance.status != null" style="text-align: center"><button type="submit" (click)="openModal_progress(template_progress_new, assistance)" style="background-color: rgb(231, 231, 17);" class="button_view">View</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    <p *ngIf="selectedHWHAssistance?.length === 0" style="margin-left: 600px; margin-top: 100px;">No Records
                        Found</p>
                </div>

                <!-- SHOW TABLE DATA FOR KHARAGPUR GRP -->

                <div style="width: 100%; height: 92%; overflow: auto;" *ngIf="currentUser==='grpkgp.control.room@gmail.com'">
                    <table class="freeze-table" style="width:94%" id="myTable">
                        <thead>
                            <tr>
                                <th (click)="sort('assUnId')" style="min-width: 75px; width: 75px; text-align: center;"
                                    class="col-id-no fixed-header">Request Id&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('assName')" style="min-width: 100px; width:100px; text-align: center;"
                                    class="col-first-name fixed-header">User Name&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('assHead')" style="min-width: 120px; width:120px; text-align: center;">
                                    Assistance Head&nbsp;<i class="fa fa-sort"></i></th>
                                <th style="min-width: 280px; width:280px; text-align: center;">Remarks</th>
                                <th (click)="sort('station')" style="min-width: 100px; width:100px; text-align: center;">
                                    Station&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('timestamp')" style="min-width: 75px; width: 75px; text-align: center;">
                                    Timestamp&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('status')" style="min-width: 75px; width: 75px; text-align: center;">
                                    Status&nbsp;<i class="fa fa-sort"></i></th>
                                <th style="min-width: 75px; width: 75px; text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let assistance of selectedKGPAssistance | filter:searchText | orderBy: key: reverse | paginate : {itemsPerPage:15,currentPage:p};">
                                <td class="col-id-no" scope="row" style="text-align: center;">{{ assistance.assUnId }}</td>
                                <td class="col-first-name" scope="row" style="text-align: center;">{{ assistance.assName }}</td>
                                <td style="text-align: center;">{{ assistance.assHead }}</td>
                                <td style="text-align: center;">{{ assistance.assRemarks }}</td>
                                <td style="text-align: center;">{{ assistance.station }}</td>
                                <td style="text-align: center;">{{ assistance.timestamp*1000 | date:'dd-MM-yyyy HH:mm:ss' }}</td>
                                <td *ngIf="assistance.status === 'Assigned'" style="text-align: center;">Pending</td>
                                <td *ngIf="assistance.status === 'In Progress' || assistance.status === 'Completed'" style="text-align: center;">{{ assistance.status }}</td>
                                <td *ngIf="assistance.status === 'Assigned' || assistance.status == null" style="text-align: center"><button type="submit" (click)="openModal_afterAssigned(template_accept_assistance, assistance)">Assign</button></td>
                                <!-- <td *ngIf="assistance.status !== 'Assigned' && assistance.status != null" style="text-align: center"><button type="submit" (click)="openModal_progress(template_progress_new, assistance)" style="background-color: rgb(231, 231, 17);" class="button_view">View</button></td> -->
                                <td *ngIf="assistance.status === 'In Progress'" style="text-align: center"><button type="submit" (click)="openModal_complete(template_complete_assistance, assistance)" style="background-color: rgb(231, 231, 17);" class="button_view">Complete</button></td>
                                <td *ngIf="assistance.status === 'Completed' && assistance.status != null" style="text-align: center"><button type="submit" (click)="openModal_progress(template_progress_new, assistance)" style="background-color: rgb(231, 231, 17);" class="button_view">View</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    <p *ngIf="selectedKGPAssistance?.length === 0" style="margin-left: 600px; margin-top: 100px;">No Records
                        Found</p>
                </div>

                <!-- SHOW TABLE DATA FOR SILIGURI GRP -->

                <div style="width: 100%; height: 92%; overflow: auto;" *ngIf="currentUser==='grpsguj.control.room@gmail.com'">
                    <table class="freeze-table" style="width:94%" id="myTable">
                        <thead>
                            <tr>
                                <th (click)="sort('assUnId')" style="min-width: 75px; width: 75px; text-align: center;"
                                    class="col-id-no fixed-header">Request Id&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('assName')" style="min-width: 100px; width:100px; text-align: center;"
                                    class="col-first-name fixed-header">User Name&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('assHead')" style="min-width: 120px; width:120px; text-align: center;">
                                    Assistance Head&nbsp;<i class="fa fa-sort"></i></th>
                                <th style="min-width: 280px; width:280px; text-align: center;">Remarks</th>
                                <th (click)="sort('station')" style="min-width: 100px; width:100px; text-align: center;">
                                    Station&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('timestamp')" style="min-width: 75px; width: 75px; text-align: center;">
                                    Timestamp&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('status')" style="min-width: 75px; width: 75px; text-align: center;">
                                    Status&nbsp;<i class="fa fa-sort"></i></th>
                                <th style="min-width: 75px; width: 75px; text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let assistance of selectedSGUJAssistance | filter:searchText | orderBy: key: reverse | paginate : {itemsPerPage:15,currentPage:p};">
                                <td class="col-id-no" scope="row" style="text-align: center;">{{ assistance.assUnId }}</td>
                                <td class="col-first-name" scope="row" style="text-align: center;">{{ assistance.assName }}</td>
                                <td style="text-align: center;">{{ assistance.assHead }}</td>
                                <td style="text-align: center;">{{ assistance.assRemarks }}</td>
                                <td style="text-align: center;">{{ assistance.station }}</td>
                                <td style="text-align: center;">{{ assistance.timestamp*1000 | date:'dd-MM-yyyy HH:mm:ss' }}</td>
                                <td *ngIf="assistance.status === 'Assigned'" style="text-align: center;">Pending</td>
                                <td *ngIf="assistance.status === 'In Progress' || assistance.status === 'Completed'" style="text-align: center;">{{ assistance.status }}</td>
                                <td *ngIf="assistance.status === 'Assigned' || assistance.status == null" style="text-align: center"><button type="submit" (click)="openModal_afterAssigned(template_accept_assistance, assistance)">Assign</button></td>
                                <!-- <td *ngIf="assistance.status !== 'Assigned' && assistance.status != null" style="text-align: center"><button type="submit" (click)="openModal_progress(template_progress_new, assistance)" style="background-color: rgb(231, 231, 17);" class="button_view">View</button></td> -->
                                <td *ngIf="assistance.status === 'In Progress'" style="text-align: center"><button type="submit" (click)="openModal_complete(template_complete_assistance, assistance)" style="background-color: rgb(231, 231, 17);" class="button_view">Complete</button></td>
                                <td *ngIf="assistance.status === 'Completed' && assistance.status != null" style="text-align: center"><button type="submit" (click)="openModal_progress(template_progress_new, assistance)" style="background-color: rgb(231, 231, 17);" class="button_view">View</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    <p *ngIf="selectedSGUJAssistance?.length === 0" style="margin-left: 600px; margin-top: 100px;">No Records
                        Found</p>
                </div>

                <!-- SHOW TABLE DATA FOR SEALDAH GRP -->

                <div style="width: 100%; height: 92%; overflow: auto;" *ngIf="currentUser==='grpsdah.control.room@gmail.com'">
                    <table class="freeze-table" style="width:94%" id="myTable">
                        <thead>
                            <tr>
                                <th (click)="sort('assUnId')" style="min-width: 75px; width: 75px; text-align: center;"
                                    class="col-id-no fixed-header">Request Id&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('assName')" style="min-width: 100px; width:100px; text-align: center;"
                                    class="col-first-name fixed-header">User Name&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('assHead')" style="min-width: 120px; width:120px; text-align: center;">
                                    Assistance Head&nbsp;<i class="fa fa-sort"></i></th>
                                <th style="min-width: 280px; width:280px; text-align: center;">Remarks</th>
                                <th (click)="sort('station')" style="min-width: 100px; width:100px; text-align: center;">
                                    Station&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('timestamp')" style="min-width: 75px; width: 75px; text-align: center;">
                                    Timestamp&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)="sort('status')" style="min-width: 75px; width: 75px; text-align: center;">
                                    Status&nbsp;<i class="fa fa-sort"></i></th>
                                <th style="min-width: 75px; width: 75px; text-align: center;">Action</th>
                                <!-- <th *ngIf="orderStatus === 'Completed' && orderStatus != null" style="min-width: 75px; width: 75px; text-align: center;">Complete</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let assistance of selectedSDAHAssistance | filter:searchText | orderBy: key: reverse | paginate : {itemsPerPage:15,currentPage:p};">
                                <td class="col-id-no" scope="row" style="text-align: center;">{{ assistance.assUnId }}</td>
                                <td class="col-first-name" scope="row" style="text-align: center;">{{ assistance.assName }}</td>
                                <td style="text-align: center;">{{ assistance.assHead }}</td>
                                <td style="text-align: center;">{{ assistance.assRemarks }}</td>
                                <td style="text-align: center;">{{ assistance.station }}</td>
                                <td style="text-align: center;">{{ assistance.timestamp*1000 | date:'dd-MM-yyyy HH:mm:ss' }}</td>
                                <td *ngIf="assistance.status === 'Assigned'" style="text-align: center;">Pending</td>
                                <td *ngIf="assistance.status === 'In Progress' || assistance.status === 'Completed'" style="text-align: center;">{{ assistance.status }}</td>
                                <td *ngIf="assistance.status === 'Assigned' || assistance.status == null" style="text-align: center"><button type="submit" (click)="openModal_afterAssigned(template_accept_assistance, assistance)">Assign</button></td>
                                <td *ngIf="assistance.status === 'In Progress'" style="text-align: center"><button type="submit" (click)="openModal_complete(template_complete_assistance, assistance)" style="background-color: rgb(231, 231, 17);" class="button_view">Complete</button></td>
                                <td *ngIf="assistance.status === 'Completed' && assistance.status != null" style="text-align: center"><button type="submit" (click)="openModal_progress(template_progress_new, assistance)" style="background-color: rgb(231, 231, 17);" class="button_view">View</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    <p *ngIf="selectedSDAHAssistance?.length === 0" style="margin-left: 600px; margin-top: 100px;">No Records
                        Found</p>
                </div>
            </div>
        </section>
    </div>


</body>

</html>